<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Street</th>
        <th scope="col">Number</th>
        <th scope="col">Spend<type
    </tr>
    </thead>
    <tbody>
    <% for (let i = 0 ; i < type.length ;i++){ %>
        <tr>
            <th scope="row"><%- type[i].id %></th>
            <td><%- type[i].name %></td>
            <td><%- type[i].lastname %></td>
            <td><%- type[i].street %></td>
            <td><%- type[i].streetnum %></td>
            <td><%- sell[i] %></td>
        </tr>
    <% } %>
    </tbody>
</table>
